@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
}
.container{
  margin-top: 20px;
}
.col-md-1{
  border: 1px solid #444;
  background-color: #fff;
}
.col-md-1.black{
  border: 1px solid #444;
  background-color: #000;
}
