@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
  background: -webkit-linear-gradient(left top, red , blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red , blue); /* Standard syntax (must be last) */
}
.container{
  margin-top: 20px;
}
.col-md-1.undefined, .col-md-1.black.undefined{
  border: none;
  background-color: #fff !important;
}
.col-md-1, .col-md-1.black{
  height:75px;
  border: 1px solid #444;
}
.col-md-1{
  background-color: #fff;
}
.col-md-1.black{
  background-color: #000;
}
.rulesInfo{
  background-color: rgba(0,0,0,0.75);
}
.rulesInfo .col-md-6{
  background-color: #fff;
}
