@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
}
.container{
}
.col-md-1.undefined, .col-md-1.black.undefined{
  border: none;
  background-color: #fff !important;
}
.col-md-1, .col-md-1.black{
  height:75px;
  border: 1px solid #444;
}
.col-md-1{
  background-color: #fff;
}
.col-md-1.black{
  background-color: #000;
}
.rulesInfo{
  position: absolute;
  top: 0;
  left:0;
  z-index: 999;
  background-color: rgba(0,0,0,0.75);
  display:none;
  width: 100%;
  min-height: 100%;
  padding: 75px;
}
.rulesInfo .col-md-6{
  margin: 100px 0px 0px 0px;
  padding: 0px;
  background-color: #fff;
}
.rulesInfo .col-md-6 h2{
  border-bottom: 1px solid #555;
  margin: 0px;
  padding: 25px;
}
.rulesInfo .col-md-6 ol{
  margin: 25px;
}
